{%- comment -%}
  Include para mostrar una playlist de Spotify
  Parámetros:
    - playlist: objeto de la colección spotify_playlists
  Orden: título → embed (protagonista) → descripción como nota breve
{%- endcomment -%}

<div class="spotify-playlist">
  {% if include.playlist.title %}
    <h3 class="spotify-playlist__title">
      {{ include.playlist.title }}
      {% if include.playlist.genre %}
        <span class="spotify-playlist__genre">[{{ include.playlist.genre }}]</span>
      {% endif %}
    </h3>
  {% endif %}

  {% if include.playlist.description %}
  <p class="spotify-playlist__desc">
    {{ include.playlist.description }}
  </p>
  {% endif %}

  {% if include.playlist.spotify_id %}
    <div class="spotify-playlist__embed-wrap">
      <iframe
        class="spotify-playlist__embed"
        src="https://open.spotify.com/embed/playlist/{{ include.playlist.spotify_id }}?utm_source=generator&theme=0"
        width="100%"
        height="152"
        frameborder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
        title="{{ include.playlist.title | escape }}">
      </iframe>
    </div>
  {% endif %}

</div>
