<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cormorant+Garamond:wght@400;700&family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.9.0/lib/p5.min.js"></script>
    <script src="https://unpkg.com/tone"></script>
    <script src="{{ '/assets/js/image-effects.js' | relative_url }}" defer></script>


  </head>
  <body>
    <main>
      {% include title.html %}

      {% if page.image %}
      {% include figure.html %}
      {% endif %}

      {{ content }}
    </main>
  </body>
</html>
