<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Cormorant+Garamond:wght@400;700&family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/2.0.3/p5.min.js" integrity="sha512-M5Ig6BOPDsLEz31Va1BcyodqmZYhfTzxasnkHqumnoAm84W8ZGx1hO9sWcJhj3qo+n3jGNy/w4r+X0gbAv5DEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>
  <body id="generator"  class="generator">

  <div id="controls">
    <label>Count <input id="ellipseCount" type="range" min="10" max="300" value="100"></label>
    <label>Spacing <input id="ellipseSpacing" type="range" min="1" max="20" value="10"></label>
    <label>Speed <input id="angleIncrement" type="range" min="0.01" max="0.2" step="0.01" value="0.05"></label>
    <label>Size Factor <input id="ellipseSizeFactor" type="range" min="0.5" max="2" step="0.1" value="1"></label>
  </div>
    <main>
      <script type="module" src="{{ '/assets/js/features/generator/main.js' | relative_url }}"></script>
    </main>
  </body>
</html>
