<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Inter:wght@300;400;700&display=swap" rel="stylesheet">


</head>
<body>
  <main>

    {% include title.html %}

    <article>
      <figure style="margin: 0;">
        <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.alt | default: page.title }}" style="width: 100%; height: auto;" />
        {% if page.caption %}
        <figcaption style="text-align: center; font-size: 0.9rem; color: #666; margin-top: 0.5rem;">
          {{ page.caption }}
        </figcaption>
        {% endif %}
      </figure>
      <div style="margin-top: 2rem;">
         {{ content }}
      </div>

      {% include back-button.html %}
    </article>
  </main>
</body>
</html>
