<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <main>
    <h1>~ {{ page.title }} ~<span style="float:right;"><a href="{{ site.baseurl }}/">⌂ init</a></span></h1>
    <article>
      <figure style="margin: 0;">
        <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.alt | default: page.title }}" style="width: 100%; height: auto;" />
      </figure>
      <div style="margin-top: 2rem;">
         {{ content }}
      </div>
    </article>
  </main>
</body>
</html>
