<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Inter:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
  <main>
        <h1>~ {{ page.title }} ~       {% if page.series %}
        <span style="font-size: 0.9em; color: #999;"> ({{ page.series }} / part. {{ page.part }})</span>
      {% endif %}
       <span class="init"><a href="{{ site.baseurl }}/">∅ INIT</a></span></h1>

      {% include nav-poem.html %}

      {% if page.image %}
      {% include figure.html %}
      {% endif %}
      <div style="margin-top: 2rem;">
         {{ content }}
      </div>

      {% include related-poem.html %}

    </article>
  </main>
</body>
</html>
