<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }} · {{ site.title }}{% endif %}</title>
  {% include seo.html %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  {% include analytics.html %}
</head>
<body>
  <main>
        <h1 class="page-title">
          <span class="page-title__text">~ {{ page.title }} ~{% if page.series %}
        <span style="font-size: 0.9em; color: #999;"> ({{ page.series }} / part. {{ page.part }})</span>
      {% endif %}</span>
          <span class="init"><a href="{{ site.baseurl }}/">∅ INIT</a></span>
        </h1>

      {% include nav-poem.html %}

      {% if page.image %}
      {% include figure.html %}
      {% endif %}
      <div class="poem-body" style="margin-top: 2rem;">
         {{ content }}
      </div>

      {% include related-poem.html %}

      {% include back-button.html %}

  </main>
</body>
</html>
